#error-effect {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  opacity: 0;
  pointer-events: none;
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#image-container {
  position: relative;
}

#replacement-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  animation: imageAnimation 4s infinite;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}